@import "style";

.header {
    padding: 5px 0;
}
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header__img {
    max-width: 216px;
    img {
        width: 100%
    }
}
.btnLink {
    @include btn;
}